@{
    Layout = null;
}
@model string
<!DOCTYPE html>
<html>
<head>

    <style>
        hr {
            color: black;
            background-color: black;
            border-color: white;
        }

        p.monospace {
            font-family: "Lucida Console", Times, monospace;
            text-align: left;
            font-size: 15px;
            color: white;
        }

        p.new {
            text-align: center;
            color: white;
        }

        p.check {
            color: white;
        }

        a {
            color: orangered;
        }

            a.ex2:hover, a.ex2:active {
                font-size: 150%;
            }

        .form {
            background: #13232f;
            padding: 40px;
            max-width: 600px;
            margin: 40px auto;
            border-radius: 2px;
            box-shadow: 0 4px 10px 4px #13232f;
        }

        h1.monospace {
            font-family: "Lucida Console", Times, monospace;
            text-align: center;
            font-size: 60px;
            color: white;
        }

        h1 {
            text-align: center;
            color: white;
            font-weight: 300;
            margin: 0 0 40px;
        }
    </style>

    <title>.:Delete User:.</title>
</head>
<body>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../../site"><img onclick="" src="~/Content/Logo1.png" width="130" height="120"></a>
    <!-- inline CSS on div tag;  external CSS on text boxes;-->
    <div class="form" style="padding-left:125px;padding-right:125px;padding-top:60px;margin-left:375px;margin-right:375px;">

        <!--<h1 style="font-size:3vw">Demo Lab 2</h1>
        <br />

        <a href="~/Views/Home/allStudents.cshtml">Click here to see all students</a>
            -->

        <form method="post" action="../site/delete_check">
            <p class="monospace" for="uname">Username*</p>
            <input type="text" id="uname" required name="unamename" placeholder="mehboob.ali">
            <span id="u"></span>
            <p class="monospace">
                <label>@Model</label>
            </p>
            <br />
            <br />

            <button type="submit" class="button button-block">Delete</button>

        </form>


    </div>
</body>
</html>